@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #022873;
  --color-secondary: #FFFFFF;
  --color-pink: #C65CB1;
  --color-purple: #5A4598;
  --color-light-gray: #F6F6F6; 
  --color-gray: #F3F0FD; 
  --color-dark-purple: #706788;
  --color-titles-purple: #350A59;
  --color-dark-text: #585B56;
  --color-border-shadow: #585B56CC;

  --font-spartan: League Spartan, 'sans-serif';
  --font-family: "Roboto", sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --shadow-card-shadow: 0 35px 35px rgba(0, 0, 0, 0.25); 
}

#logout{
  fill: var(--color-purple);
}

.title-font {
  font-family: var(--font-family);
}

.title {
  font-family: var(--font-family);
  color: var(--color-titles-purple);
}

.body-font {
  font-family: var(--font-montserrat);
}

.body{
  font-family: var(--font-montserrat);
  color: var(--color-dark-text);
}

.btn-primary {
  background-color: var(--color-pink);
  color: white;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-dark-purple); 
}

.btn-secondary {
  background-color: #D1D5DB;
  color: var(--color-dark-purple) ;
  cursor: pointer;
  font-family: var(--font-monserrat);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--color-dark-purple); 
  color: white
}

:root {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-secondary);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: large;
  color: var(--color-pink);
  display: grid;
}

.soft-ring {
  box-shadow: 0 0 0 12px rgb(88 91 86 / 10%);
  border: 1px solid var(--color-border-shadow);
}

.confirm {
  width: 5rem;
}

.custom-popup {
  background-color: var(--color-gray);
  border-radius: 1rem;
  padding: 2rem;
}

.popup-title {
  color: var(--color-titles-purple);
}

#layout {
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: 100%;
  position: sticky;
  background-color: var(--color-light-gray);
  transition: 300ms ease-in-out;
  overflow: hidden;
  color: var(--color-purple);
  top: 0px;
  align-self: start;
  border-radius: 0 15px 15px 0;
}

#sidebar svg{
  flex-shrink: 0;
}

#sidebar.open {
  width: 300px;
}

#sidebar.open #toggle-btn svg{
  rotate: 180deg;
}

#sidebar.close {
  width: 0px;
  overflow: hidden;
  padding: 0px;
}

#sidebar ul {
 list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;

}

#sidebar ul li{
  margin-right: .5em;
  border-radius: 0 1em 1em 0;
  padding-left: 1em;
}

#sidebar ul li > *{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5em;
}

svg {
  fill: var(--color-purple);
}

#correct {
  fill: var(--color-green-500);
}

#menu {
  fill: var(--color-pink);
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  padding-right: 0;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

#top {
  justify-content: flex-end;
}

.active {
  color: var(--color-secondary);
  margin-right: .5em;
  border-radius: 0 1em 1em 0;
  background: var(--color-dark-purple);

  svg {
    fill: var(--color-secondary);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.Toastify__toast {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.radio {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid var(--color-titles-purple);
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
}

.radio:checked {
  background-color: #D9D9D9;
}
